# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# OS / editor files
.DS_Store
Thumbs.db
*.swp
*.swo

# Docker local files
docker-compose.override.yml

# Terraform local/state files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
.terraform.tfstate.lock.info
crash.log
crash.*.log
